<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/base.css') }}" >
    {% block head %} {% endblock %}
</head>
<body>
<div class="nav">
    <ul>
        <li><a href={{ url_for('index') }}>首页</a> </li>
        <li><a href={{ url_for('search',q='hello') }}>搜索</a> </li>
        <li><a href={{ url_for('questions',is_login='1') }}>发布问答</a> </li>
        <li><a href={{ url_for('login') }}>登录</a> </li>
    </ul>
</div>

{% block main %} {% endblock %}
</body>
</html>